

<%- partial('app-header') %>
<%- partial('app-menu') %>

<% var doc = data.doc.toObject(), props = doc.properties %>
<section class="content">
    <h1><%- props.meta.doc_title %></h1>

    <div class="meta">
        <%= props.meta.doc_source_name %>
    </div>

    <% if (!!props.meta.doc_description) { %>
        <p><%- props.meta.doc_description %></p>
    <% } %>



    <ul class="statistics">
        <% if (!!props.basic_stats) { %>
        <li class="main numeric">
            <div class="value"><%= props.basic_stats.read_time_est %></div>
            <span>minutes read</span>
        </li>
        <% } %>

        <% if (!!props.social_stats) { %>
        <li class="main numeric">
            <div class="value"><%= props.social_stats.total %></div>
            <span>social interactions</span>
        </li>
        <li class="numeric">
            <div class="value"><%= props.social_stats.fb_total %></div>
            <span>Facebook interactions</span>
        </li>
        <li class="numeric">
            <div class="value"><%= props.social_stats.twitter %></div>
            <span>Twitter shares</span>
        </li>
        <li class="numeric">
            <div class="value"><%= props.social_stats.linkedin %></div>
            <span>LinkedIn shares</span>
        </li>
        <li class="numeric">
            <div class="value"><%= props.social_stats.reddit + props.social_stats.googleplus %></div>
            <span>other shares</span>
        </li>
        <% } else { %>
        <% } %>


        <% if (!!props.basic_stats) { %>
        <li class="main">
            <div class="p_bar">
                <span style="width: <%= props.basic_stats.quality_score %>%"></span>
            </div>
            <span>High quality document</span>
        </li>
        <% } %>
    </ul>

</section>

<%- partial('app-footer') %>