<html>
    <head>
  <meta charset="utf-8">

        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
        <div class="wrapper">



            <section class="menu_col">

                <header class="logo">
                    <a href="/app">
                        <img src="/img/logo-app.png" title="Welcome on Minethat!" />
                    </a>
                </header>


                <ul class="filters">
                    <li><i class="blue fa fa-square"></i>Innovation</li>
                    <li><i class=""></i>International issues</li>
                    <li><i class="green fa fa-square"></i>Environment</li>
                    <li><i class="red fa fa-square"></i>Startups</li>
                    <li class="add"><i class="fa fa-plus"></i><a href="#">Add a filter</a></li>
                </ul>


            </section>



            <section class="meta_col">

                <ul class="statistics">
                    <li class="main numeric">
                        <div class="value">3</div>
                        <span>minutes read</span>
                    </li>
                    <li class="numeric">
                        <div class="value">7711</div>
                        <span>Facebook shares</span>
                    </li>
                    <li class="numeric">
                        <div class="value">644</div>
                        <span>Twitter shares</span>
                    </li>
                    <li class="numeric">
                        <div class="value">158</div>
                        <span>LinkedIn shares</span>
                    </li>
                    <li class="numeric">
                        <div class="value">587</div>
                        <span>other shares</span>
                    </li>
                    <li class="main">
                        <div class="p_bar">
                            <span style="width: 82%"></span>
                        </div>
                        <span>High quality document</span>
                    </li>
                </ul>

                <ul class="statistics">
                    <li class="main">
                        <div class="p_bar">
                            <span style="width: 89%"></span>
                        </div>
                        <span>Very likely: analyze</span>
                    </li>
                    <li class="main">
                        <div class="p_bar">
                            <span style="width: 71%"></span>
                        </div>
                        <span>Likely: context</span>
                    </li>
                    <li class="main">
                        <div class="p_bar">
                            <span style="width: 35%"></span>
                        </div>
                        <span>Probably not: facts</span>
                    </li>
                </ul>
            </section>


            <section class="content">
                <h1>Ukraine dismisses Russian threats to intervene, continues ‘anti-terrorist’ campaign</h1>

                <div class="meta">
                    By William Booth and Michael Birnbaum, The Washington Post<br />
                    Updated: Friday, April 25, 3:25 PM
                </div>


                <ul class="statistics">
                    <li class="main numeric">
                        <div class="value"><%= data.doc.properties.basic_stats.read_time_est %></div>
                        <span>minutes read</span>
                    </li>
                    <li class="numeric">
                        <div class="value">7711</div>
                        <span>Facebook shares</span>
                    </li>
                    <li class="numeric">
                        <div class="value">644</div>
                        <span>Twitter shares</span>
                    </li>
                    <li class="numeric">
                        <div class="value">158</div>
                        <span>LinkedIn shares</span>
                    </li>
                    <li class="numeric">
                        <div class="value">587</div>
                        <span>other shares</span>
                    </li>
                    <li class="main">
                        <div class="p_bar">
                            <span style="width: 82%"></span>
                        </div>
                        <span>High quality document</span>
                    </li>
                </ul>

            </section>
        </div>
    </body>
</html>

