

<%- partial('app-header', {
    title: !!data.doc ? 'Edit filter' : 'Create a new filter'
}) %>
<%- partial('app-menu', {
    customer_filters: data.customer_filters
}) %>

<section class="content filters">


    <section class="filter-settings" data-url="/app/filter/<%= !!data.doc ? data.doc._id : 'new' %>">

            <div class="input-wrap header">
                <input type="text" class="color" name="color" value="<%= !!data.doc ? data.doc.color : '' %>" />
                <input type="text" class="input" name="name" placeholder="Your filter name" value="<%= !!data.doc ? data.doc.name : '' %>" />
            </div>

            <div id="conditions-container">

            </div>

            <h4>New condition:
            <select id="conditions-selector">
            </select>
            <span class="cta">
                <a class="button little green tooltip " href="#" id="condition-add" title="Add condition"><i class="fa fa-plus"></i></a></span>
            </h4>


            <div class="input-wrap cta">
                <% if (!!data.doc) { %>
                <a href="/api/v1/filters/<%= data.doc._id %>" id="filter-remove">Delete</a>
                <% } %>
                <button class="button green" id="filter-estimate">Estimate</button>
                <button class="button " id="filter-submit">Submit</button>
            </div>

        <div class="right keywords clearfix">
            <pre style="font-size: 10px;"><code><%- data.doc %>
            </code></pre>
        </div>

    </section>



    <section class="filter-result list" id="estimation">
        <div class="blank-state">
            <div>
                <div class="icon"><i class="fa fa-filter"></i></div>
                <div class="text">Add some filters on the left panel to start your vertical</div>
            </div>
        </div>
    </section>
    <p>
        Estimation result: <span class="count"><%= data.total || 0 %> documents</span>
    </p>
</section>


<section style="display: none">
    <textarea id="tpl-conditions-keyword">

        <div class="input-wrap condition" id="{{id}}">

            <label for="{{input_id}}">Keywords</label>
            <span>
                <input type="checkbox" name="inclusive" />
            </span>

            <span class="cta">
                <a class="button little remove orange tooltip tooltipstered" href="#" title="Remove condition"><i class="fa fa-minus"></i></a>
            </span>

            <br />
            <input id="{{input_id}}" class="input" name="keywords" type="text" placeholder="Type a keyword..." value="{{value}}" />
        </div>

    </textarea>
</section>

<script type="text/javascript">
    hunk.filter.init(<%- !!data.doc ? JSON.stringify(data.doc.toObject()) : 'null' %>);
</script>

<%- partial('app-footer') %>