$main-color: #3F3F3F;
$second-color: #cdcdcd;
$third-color: #ddd;
$fourth-color: #fff;



.blue {
    color: #4292f5;
}

.green {
    color: #42f575;
}

.yellow {
    color: #f5cd42;
}

.orange {
    color: #f57542;
}

.red {
    color: #f54271;
}

.purple {
    color: #ab42f5;
}

.grey {
    color: #ccc;
}



/*
    GLOBAL
 */
.wrapper {
    position: relative;
}

.content {
    position: fixed;
    left: 250px;
    right: 0;
    height: 100%;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    color: $main-color;

    h1, h2, h3 {
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 2.6em;
    }

    p {
        font-size: 1.1em;
        margin: 40px 0;
        line-height: 1.6;
    }

    header {
        margin-left: 150px;
    }
}

.content.filters {
    overflow: none;
    padding: 0;

    .filter-settings {
        position: absolute;
        overflow: auto;
        width: 440px;
        height: 100%;
        background: #f2f2f4;
        padding: 20px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .filter-result {
        position: absolute;
        overflow: auto;
        left: 440px;
        right: 0;
        height: 100%;
        padding: 20px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}


.blank-state {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 50px;
    border-radius: 2px;

}
.blank-state>div {
    margin: auto;
    height: 300px;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .icon, .text {
        width: 100%;
        text-align: center;
        text-shadow: 1px 1px 0 #fff;
    }
    .icon {
        color: #f2f2f4;
        font-size: 244px;
        margin-bottom: 20px;
    }
    .text {
        font-size: 24px;
        color: #ddddde;
    }
}

.blank-state.loading {
    background: none;
    .icon {
        font-size: 34px;
    }
}
.blank-state.loading>div {
    height: 34px;
}



h1 a, h1 a:visited {
    color: $main-color;
    text-decoration: none;
}


/*
    CONTAINERS
 */

.doc-sub-container {
    width: 100%;
    margin-bottom: 10px;
    display: block;

    .left {
        width: 140px;
        float: left;

        h4 {
            text-transform: uppercase;
            font-weight: 300;
            margin: 0;
            text-align: right;
            color: $third-color;
            font-size: 12px;
        }
    }

    .right {
        border-left: 1px solid $third-color;
        padding-left: 10px;
        margin-left: 150px;
    }

    .data {
        list-style: none;

        li {
            margin-bottom: 5px;
        }

        .key {
            text-transform: uppercase;
            margin-right: 0;
            color: $third-color;
            width: 120px;
            display: inline-block;
            font-size: 12px;
            float: left;
            padding-top: 3px;
        }
        .value {
            display: block;
            margin-left: 120px;
        }
        .main {
            margin-bottom: 10px;

            .value {
                margin: 0;
                font-weight: 400;
                float: none;
            }
        }
    }

    .entity, .keyword {
        background: #fafafa;
        padding: 3px 7px;
        margin: 0 5px;
        border-radius: 2px;
        white-space: nowrap;
    }

    .entities, .keywords {
        line-height: 2;
    }

}


.statistics {
    padding: 0;
    margin: 0 0 10px 0;

    li {
        display: inline-block;
        margin-bottom: 30px;

        .value {
            font-size: 1.4em;
            color: #2d303b;
        }

        span {
            font-size: 0.7em;
        }
    }

    .numeric {
        text-align: center;
        width: 49%;
    }

    .main {


        .value {
            font-size: 3.2em;
        }
    }
}



/*

    LLIST PAGES
 */
.content {

    ul.list {
        padding: 0;
        margin-left: 0;
        list-style: none;

        li {
            margin-bottom: 15px;
        }
    }

    article {

        border: 1px solid #eee;
        border-radius: 4px;
        width: 260px;
        height: 280px;
        margin: 0 20px 20px 0;
        float: left;

        h4 {
            margin-bottom: 0;
        }

        .meta {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }

    .paginate {
        padding: 20px 30px;
        margin-bottom: 30px;

        .next {
            float: right;
        }
    }
}


/*

    MENU

 */
.menu_col {

    position: fixed;
    width: 250px;
    height: 100%;
    background: #2d303b;
    z-index: 1000;
    box-shadow: inset -30px 0px 30px #161923;
    color: #fff;

    header {
        text-align: center;
    }


    ul {
        margin-top: 30px;
        list-style: none;

        li {
            margin: 20px 0;

            i {
                font-size: 12px;
                display: inline-block;
                width: 20px;
            }
        }
    }

    .filters {
        .add {
            color: #626677;

            a {
                color: #626677;
                text-decoration: none;
            }
        }
    }
}