$main-color: #3F3F3F;
$second-color: #cdcdcd;
$third-color: #ddd;
$fourth-color: #fff;



.blue {
    color: #4292f5;
}

.green {
    color: #42f575;
}

.yellow {
    color: #f5cd42;
}

.orange {
    color: #f57542;
}

.red {
    color: #f54271;
}

.purple {
    color: #ab42f5;
}

.grey {
    color: #ccc;
}



/*
    GLOBAL
 */
.wrapper {
    position: relative;
}

.content {
    padding-top: 70px;
    width: 600px;
    margin: 0 auto;
    color: $main-color;

    h1, h2, h3 {
        margin-bottom: 40px;
        font-weight: 200;
        font-size: 2.6em;
    }

    p {
        font-size: 1.1em;
        margin: 40px 0;
        line-height: 1.6;
    }
}

h1 a, h1 a:visited {
    color: $main-color;
    text-decoration: none;
}


/*
    CONTAINERS
 */

.doc-sub-container {

    margin-bottom: 10px;

    .left {
        width: 140px;
        float: left;

        h4 {
            text-transform: uppercase;
            font-weight: 200;
            margin: 0;
            text-align: right;
            color: $third-color;
            font-size: 12px;
        }
    }

    .right {
        border-left: 1px solid $third-color;
        padding-left: 10px;
        margin-left: 150px;
    }


    .statistics {
        padding: 0;
        margin: 0 0 10px 0;

        li {
            display: inline-block;
            margin-bottom: 30px;

            .value {
                font-size: 1.4em;
                color: #2d303b;
            }

            span {
                font-size: 0.7em;
            }
        }

        .numeric {
            text-align: center;
            width: 49%;
        }

        .main {


            .value {
                font-size: 3.2em;
            }
        }
    }

    .data {
        list-style: none;

        li {
            margin-bottom: 5px;
        }

        .key {
            text-transform: uppercase;
            margin-right: 0;
            color: $third-color;
            width: 120px;
            display: inline-block;
            font-size: 12px;
            float: left;
            padding-top: 3px;
        }
        .value {
            display: block;
            margin-left: 120px;
        }
        .main {
            margin-bottom: 10px;

            .value {
                margin: 0;
                font-weight: 400;
                float: none;
            }
        }
    }

    .entity, .keyword {
        background: #fafafa;
        padding: 3px 7px;
        margin: 0 5px;
        border-radius: 2px;
        white-space: nowrap;
    }

    .entities, .keywords {
        line-height: 2;
    }

}



/*

    MENU

 */
.menu_col {

    position: fixed;
    width: 250px;
    height: 100%;
    background: #2d303b;
    z-index: 1000;
    box-shadow: inset -30px 0px 30px #161923;
    color: #fff;

    header {
        text-align: center;
    }


    ul {
        margin-top: 30px;
        list-style: none;

        li {
            margin: 20px 0;

            i {
                font-size: 12px;
                display: inline-block;
                width: 20px;
            }
        }
    }

    .filters {
        .add {
            color: #626677;

            a {
                color: #626677;
                text-decoration: none;
            }
        }
    }
}