
<section class="menu_col">

    <header class="me">
        <a href="/app" class="logo">
            <img src="/img/logo-app.png" title="Welcome on Minethat!" />
        </a>
        <a href="/app/profile" class="profile tooltip" title="Edit your settings">
            <img src="/img/profile_image.png" />
        </a>
    </header>


    <ul class="filters">
        <li class="add"><i class="fa fa-home"></i><a href="/app/docs">Wall</a></li>

        <% if (typeof data !== 'undefined') { for (var i = 0; i < data.customer_filters.length; i += 1) {

            var filter = data.customer_filters[i].toObject() %>
            <li>
                <i class="blue fa fa-square", style="color: <%= filter.color %>"></i>
                <a href="/app/filter/wall/<%= filter._id %>"><%= filter.name %></a>
                <span class="edit"><a href="/app/filter/<%= filter._id %>"><i class="fa fa-gear"></i></a></span>
            </li>
        <% } } %>

        <li class="add"><i class="fa fa-filter"></i><a href="/app/filter/new">New vertical</a></li>

        <li class="add"><i class="fa fa-sign-in"></i><a href="/app/sources">Sources</a></li>
        <li class="add"><i class="fa fa-sign-out"></i><a href="/app/targets">Targets</a></li>
    </ul>


</section>
