
<hr />

<div class="share">
    <p><strong>Share this article</strong></p>
    <ul>
        <li><a target="_blank" title="Share on Twitter" href="https://twitter.com/home?status=<%= escape(data.title + ': ' + data.url) %>"><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
        <li><a target="_blank" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=<%= escape(data.url) %>&title=<%= escape(data.title) %>&summary=<%= escape(data.summary) %>&source=Minethat"><i class="fa fa-linkedin"></i><span>Share on LinkedIn</span></a></li>
    </ul>
</div>