<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minethat</title>

        <meta name="description" content="Empower knowledge within your organisation: Minethat is a Flipboard for the enterprise">

        <meta name="keywords" content="minethat, mine that, knowledge management, collaboration platform, ideas management, information contextualization, brand monitoring, knowledge transfer, in-house training, news digest, employee engagement, informal learning" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="twitter:card" value="summary">

        <meta property="og:title" content="Minethat" />
        <meta property="og:type" content="profile" />
        <meta property="og:url" content="http://minethat.com/" />
        <meta property="og:image" content="http://minethat.com/img/logo-square.png" />
        <meta property="og:description" content="Empower knowledge within your organisation: Minethat is a Flipboard for the enterprise" />

        <meta name="twitter:site" content="@GetMinethat">
        <meta name="twitter:title" content="Minethat">
        <meta name="twitter:description" content="Empower knowledge within your organisation: Minethat is a Flipboard for the enterprise">
        <meta name="twitter:image" content="http://minethat.com/img/logo-square.png">

        <link rel="stylesheet" href="css/landing.css">

    </head>
    <body>
        <div class="wrapper" itemscope itemtype="http://schema.org/Organization">
            <header>
                    <h1>
                        <a href="http://minethat.co" title="Minethat">
                            <img itemprop="logo" src="/img/logo-square.png" alt="Minethat" title="Minethat" />
                        </a>
                    </h1>
                    <h4>Empower knowledge within your organisation</h4>
            </header>
            <section>


                <p>Save hours of hassle by automatically gathering relevant insights for your industry, get alerts and regular digests delivered to your email or collaboration platform.</p>

                <div class="clearfix">
                    <div class="benefit">
                        <h4>Save time</h4>
                        <p>You and your employees will save hours of web browsing by getting latest industry news automatically</p>
                    </div>

                    <div class="benefit right">
                        <h4>Engage your employees</h4>
                        <p>Keep them up to date with their core skills, from engineering to marketing and business development</p>
                    </div>
                </div>


                <div class="clearfix">
                    <div class="benefit">
                        <h4>Filter the noise</h4>
                        <p>Go straight to high interest content, skip what not matters to you</p>
                    </div>

                    <div class="benefit right">
                        <h4>Avoid silos</h4>
                        <p>Use the API to send content directly in your CMS, or connect directly to your existing collaboration tool</p>
                    </div>
                </div>


                <p>To get an early access to the beta (august 2014), subscribe now and be part of our journey!</p>

                <form method="post" id="subscribe">
                    <p style="display: none" class="result">
                    </p>
                    <div class="input-wrap email">
                        <input class="input" type="text" name="email" placeholder="Your email address" />
                        <div style="display: none;" class="message error dismissable">
                            Please provide a valid email address.
                        </div>
                        <input type="hidden" name="ref_campaign" value="<%= data.ref_campaign %>" />
                        <input type="hidden" name="ref_domain" value="<%= data.ref_domain %>" />
                    </div>
                    <div class="input-wrap cta">
                        <button class="button">
                            <div class="main">Let me test Minethat!</div>
                            <div class="secondary">And send me regular news</div>
                        </button>
                    </div>
                </form>
                <div id="subscribed" style="display: none">
                    <p><strong>You're in!</strong></p>


                    <% /* A-B TEST */ var alea = -Math.floor(Math.random() * (- 99)); %>

                    <% if (alea <= 50) { %>
                    <p>Thanks! You should receive a confirmation email very soon. While we're here, would you mind to share Minethat?</p>
                    <ul>
                        <li><a class="share" target="_blank" title="Share on Twitter" href="https://twitter.com/home?status=Introducing%20@GetMinethat:%20Empower%20knowledge%20within%20your%20organisation%3A%20Minethat%20is%20a%20Flipboard%20for%20the%20enterprise"><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>

                        <li><a class="share" target="_blank" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=http://minethat.co&title=Minethat:%20Empower%20knowledge%20within%20your%20organisation%3A%20Minethat%20is%20a%20Flipboard%20for%20the%20enterprise&source="><i class="fa fa-linkedin"></i><span>Share on LinkedIn</span></a></li>
                    </ul>
                    <% } else { %>
                    <p>Awesome! You'll get a confirmation email soon. In between, do you want to follow us for daily news?</p>
                    
                    <a href="https://twitter.com/GetMinethat" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @GetMinethat</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                    <% } %>
                </div>

            </section>
            <footer>
                <ul>
                    <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        Carefully crafted in <span itemprop="addressLocality">Paris</span>, <span itemprop="addressCountry">Europe</span> by <a href="http://laumonier.co">Xav</a>
                    </li>
                    <li><a href="https://www.twitter.com/GetMinethat" title="Follow us for daily updates!" target="_blank"><span>Follow us</span></a></li>
                    <li><a href="/devlog" title="Read our devlog"></i><span>Devlog</span></a></li>
                    <li><a href="mailto:xav@laumonier.co"></i><span>Contact us</span></a></li>
                    <li>© Minethat 2014</li>
                </ul>
            </footer>
        </div>
        <script type="text/javascript" src="js/landing.js"></script>
        <% if (env !== 'local') { %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-19713849-9', 'auto');
          ga('send', 'pageview');
          ga('send', 'event', 'landing', 'init');

          $('.share').on('click', function() {
            ga('send', 'event', 'landing', 'share');
          });
          $('.share').on('click', function() {
            ga('send', 'event', 'landing', 'share');
          });
        </script>
        <% } %>
    </body>
</html>