

<%- partial('app-header', {
    title: 'Sources'
}) %>
<%- partial('app-menu') %>

<section class="content">
    <h3>Sources: <span class="count"><%= data.total %></span></h3>

    <a href="/app/source/new">Create source</a>
    <a href="/app/source/generate">Setup source from feed URL</a>


    <ul class="list">
        <% for(var i=0; i < data.docs.length; i++) {  var source = data.docs[i].toObject() %>
            <li data-item-id="<%= source._id %>">
                <a href="/app/source/<%= source._id %>"><strong><%= source.name %></strong></a>
                <a href="<%= source.url %>" target="_blank"><i class="fa fa-external-link"></i></a>
                <a href="<%= source.feed_url %>" target="_blank"><i class="fa fa-rss-square"></i></a><br />

                <span>Latest aggregation: <%= !!source.last ? utils.tsToReadable(source.last) : 'Never' %></span>

                <span><a href="/api/v1/source/<%= data.docs[i]._id %>" data-action="delete">Delete</a></span>
            </li>
        <% } %>
    </ul>

</section>

<script type="text/javascript">
    $(function(){
        $('[data-action=delete]').each(function(i, el) {
            $(el).on('click', function(e) {
                e.preventDefault();
                var xhr = new XMLHttpRequest();

                xhr.open("DELETE", $(el).attr('href') , true);
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                        var resp = JSON.parse(xhr.responseText);
                        alert(resp.status);
                        if (resp.status === 'success') {
                            $(el).parent('tr').remove();
                        }
                    }
                };

                xhr.send();
            });
        });
    });
</script>


<%- partial('app-footer') %>